<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
  <title>Login Form Fragment</title>
</head>
<body>
  <form th:fragment="login-form" method="post" role="form" th:action="@{/login}">
    <div class="container">
      <!-- Form header -->
      <header class="row mb-1">
        <div class="col text-center m-3">
          <h2>Log In</h2>
          <p class="faded">Welcome back! We miss you :3</p>
        </div>
      </header>

      <!-- Entering user info -->
      <div class="row mb-2">

        <div class="col m-2">
          <!-- Username -->
          <div class="mb-3">
            <label>Username</label>
            <input class="form-control" name="username" type="text" placeholder="leeroy_jenkins" id="username" aria-label="username" required>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label>Password</label>
            <input class="form-control" name="password" type="password" placeholder="supersecure123" id="password" aria-label="password" required>
          </div>
        </div>
      </div>

      <!-- Form submission -->
      <div class="row text-center mb-3">
        <div class="col d-flex flex-column justify-content-evenly mb-3">
          <button class="mx-2 mb-2" type="submit">Log In</button>
          <a th:href="@{/register}">Don't already have an account?</a>
        </div>
      </div>
    </div>
  </form>
</body>
</html>