body {
  background-color: #FB8500;
}

form {
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: rgba(13, 13, 15, 0.3) 0px 2px 3px 0px, rgba(13, 13, 15, 0.15) 0px 2px 4px 2px;

  button {
    color: whitesmoke;
    border-radius: 7px;
    padding: 0.5em;
    background-color: #023047;
    border: none;
    &:hover, &:active {
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    }
  }
  a {
    text-decoration: none;
  }
}

main {
  border-top: 0.5px solid #404040;
  border-bottom: 0.5px solid #404040;
}

footer {
  height: 20vh;
}