<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Your Sets</title>
</head>
<body>
    <!-- Main page content -->
    <main layout:fragment="main" class="p-4">
        <div class="set-list">
            <div class="row">
                <!-- Signup form -->
                <section class="col-4">

                </section>
            </div>
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Create a new set of flashcards.</h1>
                    <p>Build better habits and start your journey on the right track!.</p>
                    <a class="btn btn-primary" href="/sets/new">Create Set</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Explore more of your study sets down below:</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div th:each="set :${sets}"  class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 th:text="${set.title}"  class="card-title"></h2>
                            <p th:text="${set.content}" class="card-text"></p>
                            <div class="col-lg-7"><img th:src="${set.photoUrl}" alt="..." class="img-thumbnail"/></div>
                        </div>
                        <div class="btn btn-primary btn-md center-block"><a class="btn btn-primary btn-sm" th:href="@{/sets/{setId}(setId=${set.id})}">Study</a></div>
                        <div class="btn btn-info btn-md center-block"><a class="btn btn-info btn-sm" th:href="@{/sets/{setId}/edit(setId=${set.id})}">Edit</a></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>