<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
  <title>View Study Set</title>
</head>
<body>
  <!-- Main page content -->
  <main layout:fragment="main" class="p-4">
    <div class="set-list">
      <div class="row">
        <!-- Signup form -->
        <section class="col-4">

        </section>
      </div>
      <!-- Heading Row-->
      <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-thumbnail" th:src="${set.photoUrl}" alt="..." /></div>
        <div class="col-lg-5">
          <h1 class="font-weight-light" th:text="${set.title}"></h1>
          <div class="font-weight-light" th:text="${set.content}"></div>
          <p>Enjoy Your Studying!</p>
          <div class="card-footer"><a class="btn btn-danger btn-lg" href="#!">Delete Set</a></div>
        </div>
      </div>
      <!-- Call to Action-->
      <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">View the rest of your terms below:</p></div>
      </div>
      <!-- Content Row-->
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Flashcard Term Name</h2>
              <p class="card-text">Flashcard Definition</p>
            </div>
            <div class="card-footer"><a class="btn btn-danger btn-lg" href="#!">Delete Term</a></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>